/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */

#main {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  max-width: 100%;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;

  @include breakpoint($x-large) {
    max-width: $max-width; 
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
          flex-direction: column;
}

.initial-content,
.search-content {
  flex: 1 0 auto;
}

.page__header {
  @include fluid-type($min-vw, $max-vw, 48px, 60px);
  margin-bottom: 0.5em;
  font-family: $title-font-family;
  font-weight: $page-title-weight;
  font-style: italic;
  letter-spacing: -2px;
  @include breakpoint($large) {
    font-size: 3em;
    clear: both; // needed for floated layout
  }
}

.page {
  margin: 0 auto;
  @include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
    padding-right: $right-sidebar-width;
  }

  .page__inner-wrap {
    float: left;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;

    .page__content,
    .page__meta,
    .page__share {
      position: relative;
      float: left;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      clear: both;
    }
  }
}

.page__title {
  margin-top: 0;
  line-height: 1;

  & + .page__meta {
    margin-top: -0.5em;
  }
}

.page__lead {
  font-family: $global-font-family;
  font-size: $type-size-4;
}

.page__content {
  h2 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid $border-color;
  }

	h1, h2, h3, h4, h5, h6 {
		.header-link {
			position: relative;
			left: 0.5em;
			opacity: 0;
			font-size: 0.8em;
			-webkit-transition: opacity 0.2s ease-in-out 0.1s;
			-moz-transition: opacity 0.2s ease-in-out 0.1s;
			-o-transition: opacity 0.2s ease-in-out 0.1s;
			transition: opacity 0.2s ease-in-out 0.1s;
		}

		&:hover .header-link {
			opacity: 1;
		}
	}

  p,
  li,
  dl {
    font-size: 1em;
  }

  /* paragraph indents */
  p {
    margin: 0 0 $indent-var;

    /* sibling indentation*/
    @if $paragraph-indent == true {
      & + p {
        text-indent: $indent-var;
        margin-top: -($indent-var);
      }
    }
  }

  a:not(.btn) {
    &:hover {
      text-decoration: underline;

      img {
        box-shadow: 0 0 10px rgba(#000, 0.25);
      }
    }
  }

  dt {
    margin-top: 1em;
    font-family: $sans-serif;
    font-weight: bold;
  }

  dd {
    margin-left: 1em;
    font-family: $sans-serif;
    font-size: $type-size-6;
  }

  .small {
    font-size: $type-size-6;
  }

  /* blockquote citations */
  blockquote + .small {
    margin-top: -1.5em;
    padding-left: 1.25rem;
  }
}

//.page-main {
//  @include breakpoint($large) {
//    display: grid;
//    grid-column-gap: 3em;
//    grid-row-gap: 0;
//    grid-template-columns: 175px 1fr;
//    -webkit-box-pack: justify;
//    -ms-flex-pack: justify;
//    justify-content: space-between;
//  }
//}

.page-content {
  @include breakpoint($large) {
    // float: right; // display: grid fallback
    width: 78%; // display: grid fallback
    min-width: 0;
  }

  @supports (display: grid) {
    width: auto;
    margin: 0;
  }
}

.page__hero {
  position: relative;
  margin-bottom: 2em;
  z-index: 1;
  @include clearfix;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;

  &--overlay {
    position: relative;
    margin-bottom: 2em;
    padding: 2em 0;
    @include clearfix;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-animation: $intro-transition;
    animation: $intro-transition;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;

    a {
      color: #fff;
    }
    @include breakpoint($small) {
      margin-top: (-1.7 * $site-logo-height) / 2;
    }

    @include breakpoint($medium) {
      margin-top: (-1.9 * $site-logo-height) / 2;
    }
  
    @include breakpoint($large) {
      margin-top: (-2.1 * $site-logo-height) / 2;
    }

    .wrapper {
//      padding-top: 2em;
      padding-left: 1em;
      padding-right: 1em;

      @include breakpoint($x-large) {
        max-width: $x-large;
      }
    }

    .page__title,
    .page__meta,
    .page__lead,
    .btn {
      color: #fff;
      font-size: 1.3em;
      text-shadow: 1px 1px 4px rgba(#000, 0.5);
    }

    .page__lead {
      max-width: $medium;
    }

    .page__title {
      @include fluid-type($min-vw, $max-vw, 48px, 60px);
      margin-bottom: 0.5em;
      font-family: $title-font-family;
      font-weight: $page-title-weight;
      font-style: italic;
      letter-spacing: -2px;
    }
  }
}

.page__hero-image {
  width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;

      @include breakpoint($small) {
      margin-top: (-1.7 * $site-logo-height) / 2;
    }

    @include breakpoint($medium) {
      margin-top: (-1.9 * $site-logo-height) / 2;
    }
  
    @include breakpoint($large) {
      margin-top: (-2.1 * $site-logo-height) / 2;
    }
}

.page__hero-caption,
.page__hero-excerpt {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: #fff;
  font-family: $caption-font-family;
  font-size: $type-size-7;
  background: #000;
  text-align: right;
  z-index: 5;
  opacity: 0.5;
  border-radius: $border-radius 0 0 0;

  @include breakpoint($large) {
    padding: 5px 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}
.page__hero-excerpt {
  font-family: $global-font-family;
  font-size: $type-size-6;
  font-weight: 100;
}

.page-share {
  margin-top: 2em;
  margin-bottom: 2em;
  // display: grid fallback
  clear: both;
}

.page-comments {
  margin-bottom: 2em;
}

.page-pagination {
  margin: 2em 0 1em;
  clear: both;

  @include breakpoint($large) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-previous,
.page-next {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-decoration: none;
}

.page-next {
  margin-top: 1em;

  @include breakpoint($large) {
    margin-top: 0;
    text-align: right;
  }
}

.page-pagination-label {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.page-pagination-title {
  margin: 0;
  padding: 0;
  font-family: $meta-font-family;
  font-size: 0.9rem;
  font-style: italic;
}

/*
   Wide Pages
   ========================================================================== */

   .wide {
    .page {
      @include breakpoint($large) {
        padding-right: 0;
      }
  
      @include breakpoint($x-large) {
        padding-right: 0;
      }
    }
  
    .page__related {
      @include breakpoint($large) {
        padding-right: 0;
      }
  
      @include breakpoint($x-large) {
        padding-right: 0;
      }
    }
  }
   